<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:replace="~{fragments :: header}"></div>
</head>

<body>
<div th:replace="~{fragments :: menu}"/>

<header>
    <!-- The header content -->
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-black-50">
                <h1 class="display-3">Work with catalogs</h1>
            </div>
        </div>
    </div>
</header>

<div th:replace="fragments::footer"/>

</body>
</html>
